@import forms.TripBaseData

@(data : Form[_], prefix : String = "")(implicit messages : Messages)
@{ println(s"data.data=${data.data}") }
     
    @helper.inputText(
	         data(s"${prefix}name"), 
	         '_label -> "Name",
	         'id -> "tripNameInputBox", 	         
	         'placeholder -> "Ex.: One week in New York on Winter …",
	         'class -> "form-control")    
    @helper.textarea(
	         data(s"${prefix}description"), 
	         'id -> "tripDescriptionTextArea",
	         '_label -> "Description",
	         'rows -> 3, 	         
	         'placeholder -> "type here a short description for your trip …",
	         'class -> "form-control")        
    @helper.select(
	         data(s"${prefix}regionId"), 
	         data.data.get(s"${prefix}regionId").map(rid => (rid,data.data(s"${prefix}regionName"))).to[Seq],
	         'id -> "tripRegionNameInputBox", 	         
	         '_label -> "Region",
	         'placeholder -> "Ex.: France, Europe, Brazil, …",
	         'class -> "region-search",
	         'style -> "display: none"
	         )  
	<input type="hidden" name="@(s"${prefix}regionName")" value="aaa"/>
	@helper.select(
	         data(s"${prefix}cityId"), 
	         data.data.get(s"${prefix}cityId").map(rid => (rid,data.data(s"${prefix}cityName"))).to[Seq],
	         'id -> "tripCityNameInputBox", 	         
	         '_label -> "Starting city",
	         'placeholder -> "Ex.: Paris, Brasília, …",
	         'class -> "city-search",
	         'style -> "display: none"
	         )  
	<input type="hidden" name="@(s"${prefix}cityName")" value="aaa"/>
	<script>
	$('#tripRegionNameInputBox').selectize({
					valueField: 'id',
					labelField: 'name',
					searchField: 'name',
					options: [],
					create: false,
					load: function(query, callback) {
						if (!query.length) return callback();
						$.ajax({
							url: jsRoutes.controllers.SearchController.searchRegionByName(query).url,
							type: 'GET',
							error: function() {
								callback();
							},
							success: function(res) {
								callback(res);
							}
						});
					}
					});
    $('#tripCityNameInputBox').selectize({
					valueField: 'id',
					labelField: 'name',
					searchField: 'name',
					options: [],
					create: false,
					load: function(query, callback) {
						if (!query.length) return callback();
						var regionId = $('#tripRegionNameInputBox')[0].value;
						$.ajax({
							url: jsRoutes.controllers.SearchController.searchCityByName(regionId,query).url,
							type: 'GET',
							error: function() {
								callback();
							},
							success: function(res) {
								callback(res);
							}
						});
					}
					});					
	</script>      	
  